attrs==19.3.0
Automat==0.8.0
backcall==0.1.0
bcrypt==3.1.7
beautifulsoup4==4.8.2
certifi==2019.11.28
cffi==1.13.2
constantly==15.1.0
cryptography==2.8
cssselect==1.1.0
decorator==4.4.1
hyperlink==17.3.1
idna==2.8
importlib-metadata==1.5.0
incremental==17.5.0
inflect==4.0.0
ipdb==0.11
ipython==7.12.0
ipython-genutils==0.2.0
jaraco.itertools==5.0.0
jedi==0.16.0
lxml==4.6.3
more-itertools==8.2.0
packaging==20.1
parsel==1.5.2
parso==0.6.0
pexpect==4.8.0
pickleshare==0.7.5
pluggy==0.12.0
prompt-toolkit==3.0.3
ptyprocess==0.6.0
py==1.8.1
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.19
PyDispatcher==2.0.5
Pygments==2.5.2
PyHamcrest==2.0.0
pyOpenSSL==19.1.0
pyparsing==2.4.6
PySocks==1.7.1
pytest==5.3.5
pytest-runner==5.2
queuelib==1.5.0
Scrapy==1.5.1
selenium==3.141.0
service-identity==18.1.0
six==1.14.0
soupsieve==1.9.5
traitlets==4.3.3
Twisted==19.10.0
urllib3==1.25.7
w3lib==1.21.0
wcwidth==0.1.8
zipp==2.1.0
zope.interface==4.7.1
